.tableContainer {
  margin: 40px;
}

.table {
  width: 70%;
  border-collapse: collapse;
}

.tableHead {
  height: 70px;
  background-color: black;
  color: white;
  font-size: 30px;
  border: 2px solid black;
}
